
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Nitti';
  font-style: normal;
  font-weight: normal;
  src: url('../src/components/shared/assets/fonts/Nitti-Normal.woff') format('woff');
}

@font-face {
  font-family: 'Nitti';
  font-style: normal;
  font-weight: 700;
  src: url('../src/components/shared/assets/fonts/Nitti-Bold.woff') format('woff');
}

html {
  background-color: #FFF;
  color: #000;
  font-family: 'Lato', sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
}
